After deploy server on any hosting service you will find a api url, just paste that here then everything will working properly.
as I deploy this admin server on heroku so, my api url like, https://dashtar.herokuapp.com/api

REACT_APP_API_BASE_URL=https://dashtar.herokuapp.com/api

REACT_APP_IMAGEBB_KEY='82b1dbc6eb68036f7ff5b2cd0d88efbcfd'